@tailwind base;
@tailwind components;
@tailwind utilities;

.header-animate {
  transition: all 0.3s ease-in-out;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #facc15;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.panel-animate {
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.panel-animate.open {
  transform: translateX(0);
}
